$black: #000;
$dark: #333;
$action: #56fee4;
$accent: #56c4fe;
$base: #001e2e;

$gray: #7c7a7e;
$darkgray: #4e4e4e;
$lightgray: #d4d4d4;
$lightergray: #e6e6e6;
$midgray: #b9babb;
$brightred: #f75550;
$brightblue: #1b81dd;


$heading-font: 'Ubuntu', sans-serif;
$add-font: 'Source Code Pro', monospace;
$body-font: 'Source Sans Pro', sans-serif;




 